.logo {
  width: calc(var(--menu-logo-size-sm) * 0.8);
  height: auto;
  margin: 0;
}

.logo path {
  fill: var(--menu-logo-color);
}

a > .logo:hover path {
  fill: var(--menu-logo-color-hover);
}

@media screen and (min-width: 55rem) {
  .logo {
    width: calc(var(--menu-logo-size-lg) * 0.8);
  }
}
